/* start global */
body{
    padding-top: 50px;
}

section{
    padding: 40px 0;
}

.col-md-4{
    margin-bottom: 15px;
}

.em-txt{
    color: #1caa98 !important;
}
/* end global */

/* start jumbotron */
.jumbotron{
    background: url(../img/site_showcase_bg.jpg) no-repeat top center ;   /* Q here*/
    color: #FFF;
    height: 85vh;
    overflow: hidden; /* Q here*/
}

.jumbotron h1{
    margin-top: 60px;
}

.jumbotron p {
    margin-bottom: 40px;
}

.jumbotron .app-btn{
    width:40%;
    margin-right: 30px;
}

.jumbotron .app-img{
    width: 75%;
}
/* end jumbotron */

/* start middle */
.demo {
    border: 1px solid #ccc; 
    width: 100%;  /* Q here*/
    margin-bottom: 20px;
}
/* end middle */

/* start feature */
#feature{
    height: 60vh;
    background: #1caa98;
    color: #FFF;
    padding: 80px 40px;
    overflow: hidden;  /* Q here*/
}

#feature h2{
    font-size: 2.5rem;
}

#feature ul{
    margin: 0;
    padding: 0;
}

#feature ul li{
    font-size: 22px;
    list-style: none;
    line-height: 2.0em;
}
/* end feature */

/* start footer */
footer{
    background: #333;
    color: #FFF;
    padding: 15px 0 5px 0;
}

footer ul{
    width: 60%;
    margin: auto;
    font-size: 1.2rem;
}

footer ul li{
    display: inline;    
    padding: 0 10px;
    list-style: none;
}

footer ul li a{
    color: #FFF;
}

footer p{
    font-size: 1.1rem;
    float: left;
}
/* end footer */

/*start about*/

section#title-bar{
    background: #1caa98;
    color: #FFF;
    margin: 0;
    padding: 20px 10px 10px ;
}

section#title-bar h1{
    margin-bottom: 20px;
}

/* end about */

/* MEDIA QUERIES */

@media(max-width:1200px){
    footer ul{
    width: 70%;
    }
}

@media(max-width:991px){
    .app-img{
        display: none;
    }

    #feature h2{
        font-size: 2rem;
    }

    #feature ul li{
        font-size: 18px;
        list-style: none;
        line-height: 2.0em;
    }
    
    #feature .camera-img{
        display: none;
    }
    footer ul{
    width: 70%;
    }    
}

@media(min-width:768px) and (max-width:990px){
    .jumbotron{
        height: 75vh;
    }
    footer ul{
    width: 100%;
    }       
    
    footer p,ul{
        float: none;
        text-align: center;
    }
}

@media(max-width:768px){
   #feature .camera-img{
        display: none;
    }
    
    footer p,ul{
        float: none;
        text-align: center;
    }
    
    footer ul{
    width: 100%;
    }    
}

@media(max-width:500px){

}